.blindSchedule {
  width:80%;
  height:100%;
  margin-left:5%;
  margin-right:15%;
}

.small {
  font-size:1.6em;
}

.medium {
  font-size:2.0em;
}

.large {
  font-size:2.4em;
}

.selected {
  font-weight:bold;
  color:yellow;
}

.notSelected {
  font-weight:normal;
  color:white;
}
